.cover__subtitle {
    max-width: 360px;
    margin: 32px auto 0;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    position: relative;
    z-index: 2;
}
.cover__subtitle:first-of-type {
    padding:0;
}

@media screen and  (max-width: 767px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 1.14;
        margin: 16px auto 0;
    }
}
    